body
{
    font: 20px 'Quicksand', sans-serif;
    line-height: 1.5;
    color: #000000;
    position: relative;
}
p
{
    font-size: 16px;
}

.margin
{
    margin-bottom: 45px;
}
.bg-1
{
    background-color: #7FCECB;
    color: #5e5e5e;
}

.bg-2
{
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-3
{
    background-color: #7FCECB;
    padding-top:100px; padding-bottom: 100px;
    color: #5e5e5e;
}
.navHead
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: 'Raleway', SansSerif;
    letter-spacing: 5px;
    background-color: #F8F8F8;
    overflow: hidden;
}

.navHead a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #5e5e5e;
}

.navHead a:hover {
    color: #2a88bd;
    cursor:pointer;
}

.navHead .icon
{
    display: none;
}

@media screen and (max-width: 600px)
{
    .container.navHead
    {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 15px;
        color: #5e5e5e;
        font-family: 'Raleway', SansSerif;
        letter-spacing: 5px;
        background-color: #F8F8F8;
    }
    .container.navHead a:not(:first-child)
    {
        display: none;
    }
    .container.navHead a.icon
    {
        float: right;
        display: block;
        cursor: pointer;
    }

    .container.navHead.responsive
    {
        position: relative;
    }
    .container.navHead.responsive a.icon
    {
        position: absolute;
        top:0;
        right:0;
        padding-top:40px;
        padding-bottom: 40px;
    }
    .container.navHead.responsive a
    {
        float: none;
        display: block;
        font-size: 15px;
        color: #5e5e5e;
        font-family: 'Raleway', SansSerif;
        letter-spacing: 5px;
        background-color: #F8F8F8;
        text-align: left;
    }


    .affix {
        top:0;
        z-index: 9999 !important;
    }
    .navbar {
        margin-bottom: -50px;
    }

    .affix ~ .container {
        position: relative;
        top: 0px;
    }
}

.container-fluid {
    padding-top: 120px;
    padding-bottom: 120px;
}

body {
    position: relative;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Raleway', SansSerif;
    letter-spacing: 5px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.section-inner {
    width: 70%;
    height: 100%;
    font-size: 18px;
    text-overflow: ellipsis;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Scroll to Top Styles */
#return-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #65894d;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 500;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #000000;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
